
# Ruta de acceseso al contenedor
Servidor=http://localhost:8080
#Servidor=http://sacvefor.srv.bosquesnativos.net.ar

# Ruta de la aplicación SSO que realizará la autenticación de usuarios
RutaAutenticacion=http://localhost:8080/gestionAplicaciones
#RutaAutenticacion=http://sacvefor.srv.bosquesnativos.net.ar/gestionAplicaciones

